<html>
<head>
    <title>
        INDEX PAGE
    </title>
</head>
<body>

    <h1>INVENTORY MANAGEMENT SYSTEM</h1>
    <h2> OPTION LIST </h2>

    <ul>
        <a href="/Home/Toys"> <li>Toys</li> </a>
        <a href="/Home/cosmetics"> <li>cosmetics</li>  </a>
        <a href="/Home/sportgood"> <li>sporting goods</li>  </a>
        <a href="/Home/groceryitem"> <li>grocery items </li>  </a>
    </ul>
    <br/>
    <a href="/Home/ADDITEM"> ADD NEW ITEMS </a>

</body>
</html>